BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -3
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterFunction: false
  AfterNamespace: false
BreakBeforeBraces: Attach
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: false
